/* Clearfix
==================================================*/
.template-list:after, .template-list .template-item .template-meta .checkbox-holder:after, .template-list .template-item .template-meta .button-holder:after, .how-to .how-to-video-list:after, .product-register .register-form:after, .product-register .register-form .form-input:after {
  content: "";
  display: table;
  clear: both;
}

/* Install Template
==================================================*/
.wp-install-template, .wp-register-product, .wp-register-welcome {
  width: 98%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  padding: 10px;
}
.wp-install-template h1, .wp-register-product h1, .wp-register-welcome h1 {
  font-size: 36px;
  line-height: 40px;
}
.wp-install-template hr, .wp-register-product hr, .wp-register-welcome hr {
  margin: 30px 0;
  border-top: 2px solid #dbdbdb;
  border-bottom: 0;
}

.register-product {
  text-align: center;
}
.register-product h1 {
  margin-top: 200px;
}

.install-template .uploader-box {
  width: 50%;
  border: 4px solid #d9d9d9;
  padding: 5px;
  text-align: center;
}
@media handheld, only screen and (max-width: 1440px) {
  .install-template .uploader-box {
    width: 75%;
  }
}
@media handheld, only screen and (max-width: 1024px) {
  .install-template .uploader-box {
    width: 75%;
  }
}
@media handheld, only screen and (max-width: 768px) {
  .install-template .uploader-box {
    width: 96%;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .install-template .uploader-box {
    width: 90%;
  }
}
.install-template .uploader-box .uploader-box-inside {
  border: 4px dashed #d9d9d9;
  padding: 50px 0;
}
.install-template .uploader-box .uploader-box-inside .ic-arrow-down {
  width: 55px;
  height: 64px;
  display: inline-block;
  background-image: url(../images/arrow-down.png);
  background-repeat: no-repeat;
}
.install-template .uploader-box .uploader-box-inside h2 {
  font-size: 28px;
  line-height: 28px;
  color: #b2b2b2;
  margin-top: 35px;
  margin-bottom: 45px;
}
.install-template .uploader-box .uploader-box-inside .ic-arrow-down, .install-template .uploader-box .uploader-box-inside h2 {
  transition: opacity .3s linear;
}
.install-template .uploader-box .uploader-box-inside .button-primary {
  transition: background .3s linear, border-color .3s linear, color .3s linear;
}
.install-template .uploader-box.is-drag .uploader-box-inside .ic-arrow-down, .install-template .uploader-box.is-drag .uploader-box-inside h2 {
  opacity: .5;
}
.install-template .uploader-box.is-drag .uploader-box-inside .upload-btn {
  opacity: .2;
}

.current-template {
  margin-top: 60px;
}
@media handheld, only screen and (max-width: 767px) {
  .current-template {
    width: 98%;
  }
}
.current-template h3 {
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 50px;
}

.template-list {
  width: 99%;
}
.template-list .template-item {
  float: left;
  border: 2px solid #d9d9d9;
  position: relative;
  float: left;
  clear: none;
  width: 22.75%;
  margin-left: 0;
  margin-right: 3%;
  margin-bottom: 50px;
  box-sizing: border-box;
}
.template-list .template-item:last-child {
  margin-right: 0;
}
@media handheld, only screen and (max-width: 2560px) {
  .template-list .template-item {
    float: left;
    clear: none;
    width: 15.0%;
    margin-left: 0;
    margin-right: 2%;
  }
  .template-list .template-item:nth-of-type(6n) {
    margin-right: 0;
    float: right;
  }
  .template-list .template-item:nth-of-type(6n + 1) {
    clear: both;
  }
}
@media handheld, only screen and (max-width: 1920px) {
  .template-list .template-item {
    float: left;
    clear: none;
    width: 18.4%;
    margin-left: 0;
    margin-right: 2%;
  }
  .template-list .template-item:nth-of-type(6n) {
    margin-right: 2%;
    float: left;
  }
  .template-list .template-item:nth-of-type(6n + 1) {
    clear: none;
  }
  .template-list .template-item:nth-of-type(5n) {
    margin-right: 0;
    float: right;
  }
  .template-list .template-item:nth-of-type(5n + 1) {
    clear: both;
  }
}
@media handheld, only screen and (max-width: 1440px) {
  .template-list .template-item {
    float: left;
    clear: none;
    width: 32.0%;
    margin-left: 0;
    margin-right: 2%;
  }
  .template-list .template-item:nth-of-type(5n) {
    margin-right: 2%;
    float: left;
  }
  .template-list .template-item:nth-of-type(5n + 1) {
    clear: none;
  }
  .template-list .template-item:nth-of-type(3n) {
    margin-right: 0;
    float: right;
  }
  .template-list .template-item:nth-of-type(3n + 1) {
    clear: both;
  }
}
@media handheld, only screen and (max-width: 1024px) {
  .template-list .template-item {
    float: left;
    clear: none;
    width: 49%;
    margin-left: 0;
    margin-right: 2%;
  }
  .template-list .template-item:nth-of-type(3n) {
    margin-right: 2%;
    float: left;
  }
  .template-list .template-item:nth-of-type(3n + 1) {
    clear: none;
  }
  .template-list .template-item:nth-of-type(2n) {
    margin-right: 0;
    float: right;
  }
  .template-list .template-item:nth-of-type(2n + 1) {
    clear: both;
  }
}
@media handheld, only screen and (max-width: 768px) {
  .template-list .template-item {
    float: left;
    clear: none;
    width: 49%;
    margin-left: 0;
    margin-right: 2%;
  }
  .template-list .template-item:nth-of-type(3n) {
    margin-right: 2%;
    float: left;
  }
  .template-list .template-item:nth-of-type(3n + 1) {
    clear: none;
  }
  .template-list .template-item:nth-of-type(2n) {
    margin-right: 0;
    float: right;
  }
  .template-list .template-item:nth-of-type(2n + 1) {
    clear: both;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .template-list .template-item {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .template-list .template-item:nth-of-type(2n) {
    margin-right: 0;
    float: left;
  }
  .template-list .template-item:nth-of-type(2n + 1) {
    clear: none;
  }
  .template-list .template-item:nth-of-type(1n) {
    margin-right: 0;
    float: right;
  }
  .template-list .template-item:nth-of-type(1n + 1) {
    clear: both;
  }
}
.template-list .template-item .active-ribbon {
  width: 64px;
  height: 65px;
  background-image: url(../images/active-ribbon.png);
  background-repeat: no-repeat;
  display: none;
  position: absolute;
  top: -10px;
  right: 10px;
}
.template-list .template-item:last-child {
  margin-right: 0;
}
.template-list .template-item .template-image > img {
  max-width: 100%;
  display: block;
}
@media handheld, only screen and (max-width: 767px) {
  .template-list .template-item .template-image > img {
    width: 100%;
  }
}
.template-list .template-item .template-meta {
  border-top: 2px solid #d9d9d9;
  background-color: #fff;
  text-align: left;
  padding: 20px;
}
.mk-delete-template-btn {
  float: right;
    background: #e64108 !important;
  border-color: #a01c00 !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(242,105,53,.5),0 1px 0 rgba(0,0,0,.15) !important;
  box-shadow: inset 0 1px 0 rgba(242,105,53,.5),0 1px 0 rgba(0,0,0,.15)!important;
}
.template-list .template-item .template-meta h6 {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 30px;
}
.template-list .template-item .template-meta .checkbox-holder {
  margin-bottom: 30px;
}
.template-list .template-item .template-meta .checkbox-holder label {
  margin-right: 4%;
  font-size: 14px;
  color: #5b5b5b;
}
.template-list .template-item .template-meta .checkbox-holder label:last-child {
  margin-right: 0;
}
@media handheld, only screen and (max-width: 1024px) {
  .template-list .template-item .template-meta .checkbox-holder label {
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 4%;
  }
}
.template-list .template-item .template-meta .button-holder .button-primary {
  margin-right: 5px;
}
.template-list .template-item.is-active {
  border: 2px solid #292929;
}
.template-list .template-item.is-active .active-ribbon {
  display: inline-block;
}
.template-list .template-item.is-active .template-meta {
  border-top: 2px solid #292929;
  background-color: #292929;
}
.template-list .template-item.is-active .template-meta h6 {
  color: #fff;
}

.how-to h3 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 25px;
}
.how-to > ul {
  list-style-position: inside;
  font-size: 16px;
}
.how-to > ul.decimal {
  list-style-type: decimal;
}
.how-to > ul.disc {
  list-style-type: disc;
  color: #8c8c8c;
  margin-top: 30px;
}
.how-to > ul li {
  margin-bottom: 10px;
}
.how-to > ul li a {
  color: #2da2cc;
  text-decoration: none;
}
.how-to .how-to-video-list {
  margin-top: 35px;
}
.how-to .how-to-video-list .video-item {
  display: inline-block;
  float: left;
  position: relative;
  margin-right: 20px;
}
.how-to .how-to-video-list .video-item a {
  display: block;
}
.how-to .how-to-video-list .video-item a img {
  display: block;
}
.how-to .how-to-video-list .video-item a .ic-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
  width: 64px;
  height: 64px;
  background-image: url(../images/play.svg);
  transition: background-image .3s ease-in-out;
}
.how-to .how-to-video-list .video-item a:hover .ic-play {
  background-image: url(../images/play-hover.svg);
}

.product-register > p {
  font-size: 16px;
  margin-bottom: 50px;
}
.register-form {
  position: relative;
  padding: 20px 0;
}
.product-register .register-form label {
  font-weight: bold;
  padding: 0 10px 0 30px;
  line-height: 45px;
  display: inline-block;
  float: left;
}
.register-form .form-input {
  display: inline-block;
  margin-right: 5px;
  float: left;
}
.product-register .register-form .form-input .input-holder {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  float: left;
}
.register-product__message {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0;
}
.register-product__message{
  position: absolute;
  bottom:110px;
  display: none;
}
.register-product__message.error-msg {
  color: #ff0000;
}
.register-product__message.success-msg {
  color:#14ae59;
}

.register-form.is-error .error-msg, .register-form.is-keyAdded .success-msg  {
  display: block;
}
.register-form.is-keyAdded .success-msg {
  bottom: 80px;
}
.register-product__message a {
  color: #2da2cc;
  text-decoration: none;
}
.product-register .register-form .form-input .button-holder {
  float: left;
}
.product-register .register-form .button-primary {
  height: 43px;
  line-height: 43px;
  margin-top: 2px;
  padding: 0 30px 1px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;

}
@media handheld, only screen and (max-width: 768px) {
  .product-register .register-form .form-input .button-holder .button-primary {
    line-height: normal;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .product-register .register-form .form-input .button-holder .button-primary {
    line-height: normal;
    margin-top: 10px;
  }
}
.product-register .register-form .form-input .button-holder .button-register {
  display: inline-block;
}
.product-register .register-form .form-input .button-holder .button-revoke {
  display: none;
}
.product-register .register-form #apikey {
  line-height: 37px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  min-width: 475px;
  font-size: 16px;
}
@media handheld, only screen and (max-width: 767px) {
  .product-register .register-form #apikey {
    min-width: 100%;
  }
}
.product-register .register-form.is-error .form-input .input-holder #apikey {
  border: 1px solid #ff0000;
}
.product-register .register-form.is-error .form-input .input-holder .error-msg {
  display: block;
}
.product-register .register-form.is-keyAdded label {
  display: none;
}
.product-register .register-form.is-keyAdded .form-input {
  background-color: #e3e3e3;
  border: 1px solid #dbdbdb;
  padding: 10px;
  border-radius: 3px;
}
@media handheld, only screen and (max-width: 767px) {
  .product-register .register-form.is-keyAdded .form-input .button-holder {
    text-align: center;
    display: block;
    width: 100%;
  }
}
.product-register .register-form.is-keyAdded .form-input .button-holder .button-register {
  display: none;
}
.product-register .register-form.is-keyAdded .form-input .button-holder .button-revoke {
  display: inline-block;
}
.product-register .register-form.is-keyAdded #apikey {
  background: transparent;
  border: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.product-register .register-form.is-keyAdded.is-error .form-input .input-holder .error-msg {
  bottom: 130%;
}

.register-welcome {
  max-width: 830px;
  position: relative;
  font-size: 16px;
  line-height: 32px;
}
@media handheld, only screen and (max-width: 1440px) {
  .register-welcome {
    width: 625px;
  }
}
@media handheld, only screen and (max-width: 1024px) {
  .register-welcome {
    width: 100%;
  }
}
@media handheld, only screen and (max-width: 768px) {
  .register-welcome {
    padding: 0 15px;
  }
}
.register-welcome > h1 {
  margin-bottom: 45px;
}
.register-welcome > p {
  margin: 0;
  margin-bottom: 50px;
}
.register-welcome .welcome-step {
  margin-bottom: 50px;
}
.register-welcome .welcome-step h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
}
.register-welcome .welcome-step h3 span {
  color: #d54d1f;
}
.wp-register-welcome p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
}
.wp-register-welcome .button-primary {
  line-height: 38px;
  height: 40px;
  padding: 0 25px 1px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
.wp-register-welcome .button-primary.register-button{
  background: #d54d1f !important;
  border-color: #ad3f1a !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(236,114,72,.5),0 1px 0 rgba(0,0,0,.15) !important;
  box-shadow: inset 0 1px 0 rgba(236,114,72,.5),0 1px 0 rgba(0,0,0,.15)!important;  
}


.register-welcome .version-changelog {
  border: 1px solid #d8d8d8;
  background-color: #fff;
  border-radius: 3px;
  padding: 30px;
  width: 400px;
  position: absolute;
  left: 110%;
  top: 105px;
  box-sizing: border-box;
}
@media handheld, only screen and (max-width: 1024px) {
  .register-welcome .version-changelog {
    position: initial;
    margin-top: 50px;
    width: 100%;
  }
}
.register-welcome .version-changelog hr {
  border-top-width: 1px;
  margin: 20px 0;
}
.register-welcome .version-changelog ul {
  font-size: 14px;
  line-height: 28px;
  list-style: inside disc;
}
.register-welcome .version-changelog h3 {
  font-size: 24px;
  margin: 10px 0 0;
}
.register-welcome .version-changelog h3 span {
  color: #d54d1f;
}

@-webkit-keyframes mk_preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes mk_preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes mk_preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.import_message {
  margin-bottom: 20px;
}
.import_message div {
  padding: 20px;
}

.install-template .upload-btn {
  width: 180px;
  transition: opacity 0.3s;
}

.install-template .progress {
  height: 9px;
  background: #3399cc;
}

.install-template .bar {
  width: 320px;
  padding: 2px;
  border: 2px solid #ccc;
  margin-bottom: 5px;
}

.install-template .file {
  padding-top: 10px;
}
.install-template .file .info{
  margin-bottom: 8px;
}
.install-template .file .filename {
  text-transform: capitalize;
  font-weight: bold;
}

.import-content-loading {
  padding: 20px 20px 20px 35px !important;
  background:url(../spinner.gif) left center no-repeat;
}