<table id="table-product-datas">
    <tr>
        <td class="title">N° ISIN</td>
        <td class="data">N/A</td>
    </tr>
    <tr>
        <td class="title">Type de structure</td>
        <td class="data">-</td>
    </tr>
    <tr>
        <td class="title">Statut</td>
        <td class="data">ouvert</td>
    </tr>
    <tr>
        <td class="title">Type d'investisseurs</td>
        <td class="data">selon OPCC 951.311</td>
    </tr>
    <tr>
        <td class="title">Nombre d'investisseurs</td>
        <td class="data">5</td>
    </tr>
    <tr>
        <td class="title">Montant des fonds propres</td>
        <td class="data">Sans limite</td>
    </tr>
    <tr>
        <td class="title">Durée de vie du produit</td>
        <td class="data">Indéterminée</td>
    </tr>
    <tr>
        <td class="title">Politique d'investissement</td>
        <td class="data">Plusieurs résidance de tourismes</td>
    </tr>
    <tr>
        <td class="title">Zone géographique</td>
        <td class="data">Suisse</td>
    </tr>
    <tr>
        <td class="title">TRI</td>
        <td class="data">5%</td>
    </tr>
    <tr>
        <td class="title">Asset Manager</td>
        <td class="data">GEFISWISS</td>
    </tr>
    <tr>
        <td class="title">Organe de révision</td>
        <td class="data">BDO</td>
    </tr>
    <tr>
        <td class="title">Reporting</td>
        <td class="data">Semestriel</td>
    </tr>
</table>