/* *
* bbPress specific CSS
*
* @package bbPress
* @subpackage Theme
* Modified by Syamil MJ */

/* =bbPress Style
-------------------------------------------------------------- */


#bbpress-forums hr {
	margin: 0 0 24px 0;
}
#bbpress-forums {
	background: transparent;
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
}
#bbpress-forums div.even, #bbpress-forums ul.even {
	background-color: #fff;
}
#bbpress-forums div.odd, #bbpress-forums ul.odd {
	background-color: #fbfbfb;
}
#bbpress-forums div.reply, #bbpress-forums div.topic {
	height: auto;
	background: none;
}
#bbpress-forums div.topic.sticky {
	border: none !important;
}
#bbpress-forums .bbp-private-reply {
	background: none !important;
}
#bbpress-forums .bbp-private-reply .bbp-reply-content {
	padding: 20px;
}
#bbpress-forums .bbp-private-reply {
	position: relative;
}
#bbpress-forums .bbp-private-reply:before {
	display: block;
	content: "";
	position: absolute;
	right: 10px;
	top: 10px;
	background: url('../../images/private-reply-icon.png');
	width: 48px;
	height: 48px;
}
#bbpress-forums div.bbp-topic-header, #bbpress-forums div.bbp-reply-header {
	background-color: #f4f4f4;
}
#bbpress-forums .status-trash.even, #bbpress-forums .status-spam.even {
	background-color: #fee;
}
#bbpress-forums .status-trash.odd, #bbpress-forums .status-spam.odd {
	background-color: #fdd;
}
#bbpress-forums ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#bbpress-forums li {
	margin: 0;
	list-style: none;
}
#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies {
	font-size: 14px;
	overflow: hidden;
	margin-bottom: 20px;
	clear: both;
}
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums {
	margin: 30px 0;
	border: 1px solid #eee;
}
#bbpress-forums ul.bbp-topics .bbp-header,
#bbpress-forums ul.bbp-forums .bbp-header  {
	padding: 18px 14px;
}

#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-body, #bbpress-forums li.bbp-footer {
	clear: both;
}
#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer {
	font-weight: bold;
	padding: 8px 0px;
	text-align: center;
}
#bbpress-forums li.bbp-header {
	
	margin-bottom: 20px;
}
#bbpress-forums li.bbp-footer {
	border-top: 1px solid #e3e3e3;
	padding: 0;
}
#bbpress-forums li.bbp-header ul {
	overflow: hidden;
}
#bbpress-forums .bbp-forums-list {
	margin: 0 0 0 5px;
	padding-left: 15px;
	border-left: 1px solid #ddd;
}
#bbpress-forums .bbp-forums-list li {
	display: inline;
	font-size: 11px;
}
#bbpress-forums li.bbp-footer p {
	margin: 0;
	line-height: 1em;
}
#bbpress-forums .bbp-topic-content img, #bbpress-forums .bbp-reply-content img {
	max-width: 100%;
}
#bbpress-forums .bbp-topic-content ul, #bbpress-forums .bbp-reply-content ul {
	list-style: square;
	padding-left: 15px;
}
#bbpress-forums .bbp-forum-content p {
	margin: 5px 0 0;
	font-style: italic;
}
li.bbp-forum-info, li.bbp-topic-title {
	float: left;
	text-align: left;
	width: 60%;
}
li.bbp-forum-topic-count, li.bbp-topic-voice-count, li.bbp-forum-reply-count, li.bbp-topic-reply-count, li.bbp-topic-last-poster {
	float: left;
	text-align: center;
	width: 10%;
}
li.bbp-topic-last-poster {
	width: 15%
}
li.bbp-forum-freshness, li.bbp-topic-freshness {
	text-align: center;
	float: left;
	width: 15%;
}
.bbp-body .bbp-topic-last-poster, .bbp-body .bbp-topic-reply-count, .bbp-body .bbp-topic-freshness {
	font-size: 12px;
}
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
	border-top: 1px solid #eee;
	overflow: hidden;
	padding: 12px;
}
@media handheld, only screen and (max-width:767px) {
	li.bbp-forum-info, li.bbp-topic-title {
		width: 40% !important;
	}
	li.bbp-forum-topic-count, li.bbp-topic-voice-count, li.bbp-forum-reply-count, li.bbp-topic-reply-count, li.bbp-topic-last-poster {
		width: 20% !important;
	}
	li.bbp-forum-freshness, li.bbp-topic-freshness {
		width: 15% !important;
	}
}
li.bbp-header div.bbp-topic-content span#subscription-toggle, li.bbp-header div.bbp-topic-content span#favorite-toggle, li.bbp-header div.bbp-reply-content span#subscription-toggle, li.bbp-header div.bbp-reply-content span#favorite-toggle {
	font-size: 12px;
	font-weight: normal;
	float: right;
	margin-left: 10px;
}
#bbpress-forums div.bbp-topic-author, #bbpress-forums div.bbp-reply-author {
	float: left;
	text-align: left;
	
}
#bbpress-forums div.bbp-reply-author img{
	border-radius: 100px;
}
#bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar {
	border: 0;
	max-width: 80px;
	margin: 12px auto 0 auto;
	float: none;
}
#bbpress-forums div.bbp-topic-author a.bbp-author-name, #bbpress-forums div.bbp-reply-author a.bbp-author-name {
	margin: 0 12px;
	word-break: break-word;
}
#bbpress-forums div.bbp-topic-author .bbp-author-role, #bbpress-forums div.bbp-reply-author .bbp-author-role {
	font-size: 11px;
}
#bbpress-forums .bbp-body .bbp-topic-content, #bbpress-forums .bbp-body .bbp-reply-content {
	margin-left: 90px;
	text-align: left;
	position: relative;
	margin-bottom: 20px;
	padding: 5px 70px 5px 20px;
	min-height: 60px;
	border: 1px solid #eee;
	background-color: #fff;
	border-radius: 3px;
}
#bbpress-forums .bbp-body .bbp-topic-content:before, #bbpress-forums .bbp-body .bbp-reply-content:before {
	position: absolute;
	top: 32px;
	left: -7px;
	width: 14px;
	height: 14px;
	border: 1px solid #eee;
	border-right: none;
	border-top: none;
	background-color: #fff;
	content: "";
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
@media handheld, only screen and (max-width:767px) {
	#bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content {
		margin-left: 60px !important;
	}
	#bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar {
		max-width: 30px !important;
	}
}
#bbpress-forums li.bbp-header .bbp-topic-author, #bbpress-forums li.bbp-footer .bbp-topic-author, #bbpress-forums li.bbp-header .bbp-reply-author, #bbpress-forums li.bbp-footer .bbp-reply-author {
	float: left;
	margin: 0;
	padding: 0;
	width: 120px;
}
#bbpress-forums li.bbp-header .bbp-topic-content, #bbpress-forums li.bbp-footer .bbp-topic-content, #bbpress-forums li.bbp-header .bbp-reply-content, #bbpress-forums li.bbp-footer .bbp-reply-content {
	margin-left: 140px;
	padding: 0;
	text-align: left;
}
div.bbp-topic-header, div.bbp-reply-header {
	margin-bottom: 0;
	overflow: hidden;
	padding: 8px;
}
li.bbp-body div.hentry {
	margin-bottom: 0;
}
div.bbp-topic-header, div.bbp-reply-header {
	border-top: 1px solid #ddd;
	clear: both;
}
span.bbp-author-ip {
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #aaa;
}
.bbp-topic-title a.bbp-topic-permalink {
	font-size: 14px;
}
.bbp-topic-title span, .bbp-topic-title span a {
	color: #787878;
	font-size: 11px;
}
#bbpress-forums .bbp-body .bbp-topic-content, #bbpress-forums .bbp-body .bbp-reply-content {
	padding-top: 10px;
	margin-bottom: 30px;
}
div.bbp-topic-content .bbp-meta, div.bbp-reply-content .bbp-meta {
	color: #818181;
	font-size: 11px;
	text-transform: uppercase;
	margin: 0 0 10px;
}
.bbp-topic-started-by img, .bbp-topic-freshness-author img {
	display: none;
}

/* =Breadcrumb and Tags
-------------------------------------------------------------- */
div.bbp-breadcrumb {
	float: left;
}
div.bbp-breadcrumb, div.bbp-topic-tags {
	font-size: 12px;
}
#bbpress-forums div.bbp-breadcrumb p, #bbpress-forums div.bbp-topic-tags p {
	margin-bottom: 10px
}
div.bbp-topic-tags {
	float: right;
}
div.topic-author-displayname, div.reply-author-displayname {
	font-weight: bold;
	font-size: 16px;
}
.user-id-1 div.topic-author-displayname, .user-id-1 div.reply-author-displayname {
	color: #EB4B00;
}

/* =Admin Links
-------------------------------------------------------------- */
.topic span.bbp-admin-links {
	color: #ddd;
}
.topic span.bbp-admin-links a {
	color: #bbb;
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
fieldset span.bbp-admin-links {
	float: left;
}
tr td span.bbp-admin-links a:hover {
	color: #ff4b33;
}
td.bbp-topic-admin-links, td.bbp-topic-counts {
	width: 50%;
}
.bbp-topic-header a.bbp-topic-permalink, .bbp-reply-header a.bbp-reply-permalink {
	float: right;
	margin-left: 10px;
	color: #ccc;
}
.bbp-single-topic-meta {
	font-weight: normal;
	background: #fafafa;
	border:1px solid #eee;
	padding: 10px 10px;
	margin-bottom: -8px;
	overflow: hidden;
}
.bbp-single-topic-meta a {
	font-weight: bold
}
.bbp-single-topic-meta .back-to {
	float: left
}
.bbp-single-topic-meta .posted-in {
	float: right
}
@media handheld, only screen and (max-width:767px) {
	.bbp-single-topic-meta .back-to, .bbp-single-topic-meta .posted-in {
		float: none !important;
		text-align: left;
	}
	.bbp-single-topic-meta .back-to {
		margin-bottom: 20px;
	}
}

/* =Toggles
-------------------------------------------------------------- */
.bbp-topic-action {
	float: right
}
.bbp-topic-action #favorite-toggle, .bbp-topic-action #subscription-toggle {
	font-weight: normal;
	font-size: 12px;
}
#bbpress-forums p.bbp-topic-meta {
	margin: 5px 0 5px;
	font-size: 11px;
}
#bbpress-forums p.bbp-topic-meta span {
	white-space: nowrap;
}

/* =Pagination
-------------------------------------------------------------- */
.bbp-pagination-count {
	float: left;
}
.bbp-pagination-links {
	float: right;
}
.bbp-pagination {
	font-size: 12px;
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.bbp-topic-pagination {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 2px;
}
.bbp-topic-pagination a {
	font-size: 10px;
	line-height: 10px;
	padding: 1px 3px;
	border: 1px solid #ddd;
	text-decoration: none;
}
.bbp-pagination-links a, .bbp-pagination-links span {
	padding: 5px 8px;
}
.bbp-pagination-links a {
	font-weight: bold;
	padding: 1px 3px;
}

/* =Forms
-------------------------------------------------------------- */
#bbpress-forums fieldset.bbp-form legend {
	padding: 5px;
}
#bbpress-forums fieldset.bbp-form label {
	margin: 0;
	display: inline-block;
}
#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label, #bbp-login fieldset label, #bbp-register fieldset label, #bbp-lost-pass fieldset label {
	width: 100px;
}
#bbpress-forums fieldset.bbp-form p, #bbpress-forums fieldset.bbp-form p label, #bbpress-forums fieldset.bbp-form textarea, #bbpress-forums fieldset.bbp-form select, #bbpress-forums fieldset.bbp-form input[type=text] {
	margin: 0 0 8px;
	padding: 8px;
}
form#bbp-your-profile fieldset.submit {
	border: none;
}
textarea#bbp_reply_content, textarea#bbp_topic_content, textarea#bbp_forum_content {
	width: 97%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
textarea#bbp_forum_content {
	height: 210px;
}
#bbpress-forums fieldset.bbp-forum-form-attributes {
	width: 200px;
	float: right;
	clear: none;
	margin-left: 25px;
}
.bbp-topic-form, .bbp-reply-form, .bbp-topic-tag-form {
	clear: left;
}
body.topic-edit .bbp-topic-form div.avatar img, body.reply-edit .bbp-reply-form div.avatar img, body.single-forum .bbp-topic-form div.avatar img, body.single-reply .bbp-reply-form div.avatar img {
	margin-right: 0;
	padding: 10px;
	border: 1px solid #ddd;
	line-height: 0;
	background-color: #efefef;
}
body.page .bbp-reply-form code, body.page .bbp-topic-form code, body.single-topic .bbp-reply-form code, body.single-forum .bbp-topic-form code, body.topic-edit .bbp-topic-form code, body.reply-edit .bbp-reply-form code {
	font-size: 10px;
	background-color: #f0fff8;
	border: 1px solid #CEEFE1;
	display: block;
	padding: 8px;
	margin-top: 5px;
	width: 369px;
}
.form-allowed-tags code {
	background: #f8f8f8 !important;
	font-size: 10px !important;
	border: none !important;
	width: auto !important;
}
#merge_tag, #delete_tag {
	display: inline;
}
div.bbp-submit-wrapper {
	margin-top: 15px;
	float: right;
	clear: both;
}

/* =TinyMCE in themes
-------------------------------------------------------------- */
#bbpress-forums div.bbp-the-content-wrapper {
	margin-bottom: 10px;
}
#bbpress-forums .bbp-the-content {
	border:none!important;
	background: none !important;
}
#bbpress-forums .bbp-the-content:focus{
	border:none!important;
	background: none !important;
}
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
	width: 100%;
	margin: 0;
	font-size: 12px;
}
#bbpress-forums div.bbp-the-content-wrapper table, #bbpress-forums div.bbp-the-content-wrapper tbody, #bbpress-forums div.bbp-the-content-wrapper tr, #bbpress-forums div.bbp-the-content-wrapper td {
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
	line-height: 1em;
}
#bbpress-forums div.bbp-the-content-wrapper input {
	margin: 0;
}
#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
	padding: 5px;
	min-height: 26px;
}
#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
	padding: 4px 4px 8px;
}
#bbpress-forums div.wp-editor-container {
	margin: 0;
	padding: 0;
	line-height: 0;
	border: 1px solid #dedede;
}
#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar {
	line-height: 16px;
}

/* =Edit User
-------------------------------------------------------------- */
#bbp-your-profile {
	margin-top: 20px;
	padding-top: 40px;
	border-top: 1px solid #bbb;
}
#bbp-your-profile fieldset {
	border: none;
	border-bottom: 1px solid #e3e3e3;
	padding: 20px 0 0px;
	margin-bottom: 30px;
	margin-top: 0;
}
#bbp-your-profile fieldset div {
	margin-bottom: 20px;
	float: left;
	width: 100%;
	clear: left;
}
#bbp-your-profile fieldset select {
	margin-bottom: 0;
}
#bbp-your-profile fieldset input, #bbp-your-profile fieldset textarea {
	width: 400px;
}
#bbp-your-profile fieldset legend {
	display: none;
}
#bbpress-forums #bbp-your-profile fieldset label {
	display: block;
}
#bbp-your-profile fieldset span.description {
	margin: 5px 0 0 0;
	font-size: 12px;
	font-style: italic;
	float: left;
	clear: left;
	width: 383px;
	padding: 5px 10px;
	border: #cee1ef 1px solid;
	background-color: #f0f8ff;
}
#bbpress-forums #bbp-your-profile fieldset fieldset {
	margin: 0;
	width: 260px;
	border: none;
	padding: 0;
	clear: none;
	float: none;
}
#bbp-your-profile fieldset fieldset span.description {
	margin-left: 0;
	margin-bottom: 20px;
}

/* =Notices
-------------------------------------------------------------- */
div.bbp-template-notice {
	border-width: 1px;
	border-style: solid;
	padding: 0.3em 0.6em;
	margin: 5px 0 15px;
	background-color: #FFFCE5;
	border: 1px solid #FFDC7D;
	color: #D69A2A;
	clear: both;
}
div.bbp-template-notice a {
	color: #D69A2A;
	font-weight: bold;
	text-decoration: underline;
}
div.bbp-template-notice a:hover {
	color: #000;
}
div.bbp-template-notice.info {
	border: #cee1ef 1px solid;
	background-color: #f0f8ff;
	color: #1891A8
}
div.bbp-template-notice.info a {
	color: #1891A8
}
div.bbp-template-notice.important {
	border: #e6db55 1px solid;
	background-color: #fffbcc;
}
div.bbp-template-notice.error, div.bbp-template-notice.warning {
	background-color: #ffebe8;
	border-color: #c00;
}
div.bbp-template-notice.error a, div.bbp-template-notice.warning a {
	color: #c00;
}
div.bbp-template-notice p {
	margin: 0.5em 0 6px 0 !important;
	padding: 2px;
	line-height: 140%;
}
div.bbp-template-notice.not-logged-in a {
	font-weight: bold;
}

/* =Stickies
-------------------------------------------------------------- */
.bbp-topics-front ul.super-sticky, .bbp-topics ul.super-sticky, .bbp-topics ul.sticky, .bbp-forum-content ul.sticky {
	background-color: #ffffe0 !important;
	font-size: 1.1em;
}

/* =Revisions
-------------------------------------------------------------- */
#bbpress-forums .bbp-topic-revision-log, #bbpress-forums .bbp-reply-revision-log {
	border-top: 1px dotted #ddd;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 8px 0 0 0;
	font-size: 11px;
	color: #aaa;
}

/* =Widgets
-------------------------------------------------------------- */
.bbp-login-form fieldset legend {
	display: none;
}
.bbp-login-form label {
	width: 140px;
	display: inline-block;
}
#sidebar .bbp-login-form label {
	width: 70px;
}
.bbp-login-form .bbp-username, .bbp-login-form .bbp-email, .bbp-login-form .bbp-password, .bbp-login-form .bbp-remember-me, .bbp-login-form .bbp-submit-wrapper {
	margin-top: 10px;
}
.bbp-login-form .bbp-remember-me {
}
.bbp-login-form .bbp-submit-wrapper {
	text-align: right;
}
.bbp-login-form .bbp-login-links {
}
.bbp-login-form .bbp-login-links a {
	float: left;
	clear: left;
}
.bbp-logged-in img.avatar {
	float: left;
	margin-right: 15px;
}
.bbp-logged-in h4 {
	font-weight: bold;
	font-size: 1.3em;
	clear: none;
	margin-bottom: 10px;
}
.bbp-forum-title.current {
	font-weight: bold;
}
.currently-viewing {
	font-size: 12px;
}
.topic-count {
	font-size: 12px;
	color: #ccc;
	float: right;
}

/* = Forums Search
-------------------------------------------------------------- */
#forums-search {
	margin: 0 0 20px;
	padding: 10px;
	background: #f6f6f6;
}
#forums-search input[type="text"] {
	width: 549px;
	height: 20px;
	margin-right: 10px;
}
#forums-search .searchsubmit {
	font-size: 14px;
	font-weight: bold;
	color: rgba(0, 70, 117, 0.55);
	padding: 7px 12px;
	margin: 0;
	width: auto;
	cursor: pointer;
	background: #C0E7F7;
	text-shadow: none;
}
#forums-search .searchsubmit:hover {
	border-color: rgba(4, 69, 85, 0.37);
	background: #C0E7F7;
}
#forums-search .searchsubmit:active {
	background: #8CCBEE;
}

/* =Avatars
-------------------------------------------------------------- */
#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar, #bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar, #bbpress-forums p.bbp-topic-meta img.avatar {
	float: none;
	border: 3px double #ddd;
}
fieldset div.avatar {
	float: right;
}

/* =BuddyPress Activity Streams
-------------------------------------------------------------- */
.activity-list li.bbp_topic_create .activity-content .activity-inner, .activity-list li.bbp_reply_create .activity-content .activity-inner {
	border-left: 2px solid #eaeaea;
	margin-left: 5px;
	padding-left: 10px;
}

/* =User Pages
-------------------------------------------------------------- */
#bbpress-forums h1 {
	clear: none;
	font-size: 2.5em;
	line-height: 1em;
	padding-bottom: 10px;
	font-weight: normal;
}
#bbpress-forums h2.entry-title {
	font-size: 1.4em;
	margin-bottom: 0;
	padding-bottom: 10px;
	padding-top: 0;
}
#bbpress-forums #entry-author-info {
	margin: 10px 0 20px 0;
	overflow: hidden;
}
#bbpress-forums #entry-author-info #author-avatar {
	float: left;
	margin-right: 0;
	width: 60px;
}
#bbpress-forums #entry-author-info #author-avatar img.avatar {
	max-width: 60px;
}
#bbpress-forums #entry-author-info #author-description {
	float: none;
	margin-left: 100px;
}
#bbp-author-subscriptions, #bbp-author-favorites, #bbp-author-topics-started, #purchase-details {
	border-top: 1px solid #ccc;
	clear: both;
	margin-bottom: 20px;
	padding-top: 20px;
}
body.my-account #bbpress-forums, body.my-account #bbp-author-subscriptions, body.my-account #bbp-author-favorites, body.my-account #bbp-author-topics-started {
	border-top: none;
	padding-top: 0;
	margin-bottom: 0;
}

/* =BuddyPress Group Forums
-------------------------------------------------------------- */
#bbpress-forums div.row-actions {
	font-size: 11px;
	visibility: hidden;
}
#bbpress-forums li:hover > div.row-actions {
	visibility: visible;
}

/* * Custom Override
-------------------------------------------------------------- */
.overflow {
	overflow: hidden;
}
.bbp-topic-title span.in-progress, .bbp-topic-title span.resolved, .bbp-topic-title span.not-resolved, .bbp-topic-title span.topic-sticky, .bbp-topic-title span.closed {
	background: url(../../images/forum-icons.png);
	width: 30px;
	height: 20px;
	float: left;
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	opacity: 0.7;
}
.bbp-topic-title span.in-progress {
	background-position: 0 -22px;
}
.bbp-topic-title span.resolved {
	background-position: 0 0;
}
.bbp-topic-title span.not-resolved {
	background-position: 0 -44px;
}
.bbp-topic-title span.topic-sticky {
	background-position: 0 -66px;
}

/* * Topic status */
#bbps-topic-status input[type="submit"], #bbps-topic-move input[type="submit"], #bbps-topic-assign input[type="submit"] {
	padding: 2px 10px;
	font-size: 13px;
}
#bbps-topic-status label, #bbps-topic-move label {
	color: #333 !important;
	font-size: 14px !important;
}
.bbps-support-forums-message {
	margin-bottom: 15px;
}
#bbps_support_forum_options, #bbps_support_forum_move, .bbps-support-forums-message {
	width: 100% !important;
}
#bbpress-forums .button[type=submit], .bbp_widget_login .button.submit {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	zoom: 1;
	font-size: 12px;
	background-color: #323232 !important;
	color: #fff;
	padding: 16px 25px;
	line-height: 100%;
	-webkit-transition: color .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: color .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: color .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: color .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out;
	transition: color .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out;
}
#bbpress-forums .button[type=submit]:hover {
	background-color: #444 !important;
	color: #fff;
}
.bbp-footer {
	display: none;
}
.widget_display_search .screen-reader-text {
	display: none;
}
.widget_display_search #bbp_search, .widget_display_search #bbp_search_submit {
	margin-bottom: 10px;
}
#bbpress-forums .bbp-search-form {
	float: none;
	margin-bottom: 30px;
}
#bbpress-forums #bbp-search-form #bbp_search {
	float: left;
}
#bbpress-forums #bbp-search-form .screen-reader-text {
	display: none;
}
#bbpress-forums #bbp-search-form #bbp_search {
	width: 75%;
	margin: 0;
	padding: 11px 12px;
}
#bbpress-forums #bbp-search-form #bbp_search_submit {
	width: 25%;
	padding: 14px 22px;
	border-left:0 !important;
}
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
	font-size: 12px;
}

#bbp-single-user-details #bbp-user-avatar {
	float: left;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
	float: none;
	margin: 0 0 0 170px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
	margin: 0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
	padding: 5px 8px;
	display: block;
	border: 1px solid transparent;
	text-decoration: none;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
	background: #eee;
	opacity: 0.8;
}

.bbp-forums .bbp-header,
.bbp-topics .bbp-header{
	margin-bottom: 0 !important;
}

/* stats widget */
.widget_display_stats dl {
	width: 100%;
	overflow: hidden;
}
.widget_display_stats dt {
	float: left;
	width: 50%;
}
.widget_display_stats dd {
	float: left;
	width: 50%;
}

/* Buddy Press */
#buddypress div.item-list-tabs ul li.last select {
	max-width: 100% !important;
}
#buddypress form#whats-new-form textarea {
	min-height: 100px;
	width: 100% !important;
}
#buddypress div.dir-search {
	margin: 0 0 15px !important;
	float: none !important;
}
#buddypress div.dir-search input[type=text], #buddypress li.groups-members-search input[type=text] {
	padding: 4px !important;
}