.mk-resets a:hover,
.mk-resets a:active {
  outline: 0;
}
.mk-resets sub,
.mk-resets sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
.mk-resets sup {
  top: -0.5em;
}
.mk-resets sub {
  bottom: -0.25em;
}
.mk-resets img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
.mk-resets button,
.mk-resets input,
.mk-resets select,
.mk-resets textarea {
  margin: 0;
  vertical-align: middle;
  font-size: 100%;
}
.mk-resets button,
.mk-resets input {
  line-height: normal;
  *overflow: visible;
}
.mk-resets button::-moz-focus-inner,
.mk-resets input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mk-resets button,
.mk-resets input[type="button"],
.mk-resets input[type="reset"],
.mk-resets input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
.mk-resets input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
.mk-resets input[type="search"]::-webkit-search-decoration,
.mk-resets input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.mk-resets textarea {
  overflow: auto;
  vertical-align: top;
}
.mk-resets p {
  line-height: 22px;
}
.mk-resets ol,
.mk-resets ul {
  list-style: none;
}
.mk-resets blockquote,
.mk-resets q {
  quotes: none;
}
.mk-resets blockquote:before,
.mk-resets blockquote:after,
.mk-resets q:before,
.mk-resets q:after {
  content: none;
}
.mk-resets table {
  border-spacing: 0;
  border-collapse: collapse;
}
.mk-resets strong,
.mk-resets th,
.mk-resets thead td {
  font-weight: bold;
}
.mk-resets cite,
.mk-resets em,
.mk-resets dfn {
  font-style: italic;
}
.mk-resets code,
.mk-resets pre {
  display: block;
  white-space: pre;
  font-size: 12px;
}
.mk-resets del {
  color: #666;
  text-decoration: line-through;
}
.mk-resets ins,
.mk-resets dfn {
  border-bottom: 1px solid #ccc;
}
.mk-resets small,
.mk-resets sup,
.mk-resets sub {
  font-size: 85%;
}
.mk-resets abbr,
.mk-resets acronym {
  text-transform: uppercase;
  letter-spacing: .1em;
}
.mk-resets a abbr,
.mk-resets a acronym {
  border: none;
}
.mk-resets abbr[title],
.mk-resets acronym[title],
.mk-resets dfn[title] {
  border-bottom: 1px dotted #ccc;
  cursor: help;
}
.mk-resets sup {
  vertical-align: super;
}
.mk-resets sub {
  vertical-align: sub;
}
.mk-resets a {
  text-decoration: none;
}
.mk-resets a:link,
.mk-resets a:visited,
.mk-resets a:hover,
.mk-resets a:active,
.mk-resets a:focus {
  outline: 0 none;
  text-decoration: none;
}
.mk-resets fieldset {
  padding: 1em;
  border: 1px solid #dddddd;
}
.mk-resets legend {
  padding: 0 .8em;
  font-weight: bold;
  font-size: 1.2em;
}
.mk-resets textarea,
.mk-resets input[type=text],
.mk-resets input[type=password],
.mk-resets input[type=email],
.mk-resets select {
  outline: none;
  font-size: inherit;
}
.mk-resets input,
.mk-resets select {
  cursor: pointer;
}
.mk-resets input[type=text],
.mk-resets input[type=password],
.mk-resets input[type=email] {
  cursor: text;
}
.mk-resets textarea {
  overflow: auto;
}
.mk-resets textarea,
.mk-resets input {
  padding: 8px;
  outline: none;
}
.mk-resets select {
  padding: 2px;
}
.mk-resets option {
  padding: 0 4px;
}
.clearboth {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  width: 0;
  height: 0;
}
.clearboth:after {
  display: block;
  visibility: hidden;
  clear: both;
  width: 0;
  height: 0;
  content: ' ';
  font-size: 0;
  line-height: 0;
}
* html .clearboth {
  height: 1%;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}
/* **
**
** Specific Options Layouts
------------------------------------------------------------- */
.mk-groupset-holder {
  background-color: #efefef;
  border: 1px solid #cccccc;
  padding: 0px;
  margin: 0px 40px 60px;
}
.mk-groupset-holder h3 {
  padding: 0 0 15px 25px;
  font-size: 22px;
  color: #444;
}
.mk-groupset-holder .mk-single-option {
  border-bottom: 1px solid #dfdfdf !important;
}
.mk-groupset-holder #special_elements_1_wrapper,
.mk-groupset-holder #special_elements_2_wrapper {
  border: none !important;
  margin-bottom: 0 !important;
}
.mk-groupset-above {
  margin-left: 40px;
}
.mk-groupset-desc {
  color: #686b70;
  display: block;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
}
/* Textboxes */
.mk-single-option .mk-highlighted-text {
  background-color: #bbbbbb;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  margin-right: 10px;
}
.mk-single-option input[type="text"],
.mk-single-option textarea {
  padding: 8px 10px;
}
.mk-single-option input[type="text"].mk_black_white,
.mk-single-option textarea.mk_black_white {
  background-color: #272822;
  color: #fff;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 13px;
}
.mk-single-option textarea {
  margin-bottom: 10px;
  width: 100%;
}
.mk-single-option.layout-half {
  width: 50%;
  display: inline-block;
  margin: 10px 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mk-single-option.layout-half input[type=text] {
  width: 70% !important;
}
@media handheld, only screen and (max-width: 1200px) {
  .mk-single-option input[type="text"] {
    width: 60% !important;
  }
}
.masterkey-options-page .mk-single-option {
  padding-left: 25px;
}
.wp-editor-container textarea {
  border: none !important;
}
@media handheld, only screen and (max-width: 1300px) {
  .mk-textbox,
  .chzn-container {
    width: 100% !important;
  }
}
/* Upload Option */
.upload-option .option-upload-button {
  height: 34px !important;
  line-height: 32px !important;
  margin-left: 10px !important;
  padding-left: 15px;
  padding-right: 15px;
}
.upload-option .show-upload-image {
  display: block;
  margin-top: 10px;
  width: 440px;
}
.upload-option .show-upload-image img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
.mk-select,
.mk-chosen-none {
  display: block;
  padding: 9px 55px 9px 9px !important;
  max-width: 100%;
  height: auto !important;
  border: 1px solid #e3e3e3;
  background: url('../../images/selectbox-arrow.png') right center no-repeat;
  background-color: #fff;
  color: #444444;
  font-size: 12px;
  line-height: 16px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-clip: padding-box !important;
  -moz-background-clip: padding !important;
  -webkit-background-clip: padding-box !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.mk-select option,
.mk-chosen-none option {
  padding: 0 4px;
}
/* Toggle Button */
.mk-toggle-button {
  display: block;
  background-color: #bbbbbb;
  width: 60px;
  height: 28px;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mk-toggle-button .toggle-handle {
  width: 22px;
  height: 22px;
  background-color: #fff;
  position: relative;
  display: block;
  left: 3px;
  top: 3px;
}
.mk-toggle-button.mk-toggle-on {
  background-color: #14a5ed;
}
.mk-toggle-button.mk-toggle-on .toggle-handle {
  left: 34px;
}
.mk-toggle-button.mk-toggle-off {
  background-color: #bbbbbb;
}
.mk-toggle-button,
.toggle-handle {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
/* Masterkey Built-in Selectbox */
.mk-fancy-selectbox {
  position: relative;
  margin-bottom: 15px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.mk-fancy-selectbox.selectbox-focused > .mk-selector-heading .mk-selector-arrow {
  position: relative;
  z-index: 50;
  background-color: #dddddd;
}
.mk-fancy-selectbox .mk-selector-heading {
  height: 40px;
  font-weight: bold;
  line-height: 40px;
  cursor: pointer;
  background: #dddddd;
}
.mk-fancy-selectbox .mk-selector-heading .selected_item {
  white-space: nowrap;
  overflow-x: hidden;
  display: inline-block;
  margin-left: 12px;
  height: 40px;
  color: #555555;
  line-height: 40px;
}
.mk-fancy-selectbox .mk-selector-heading .selected_color {
  display: inline-block;
  width: 32px;
  height: 23px;
  margin: 5px 10px 0 5px;
}
.mk-fancy-selectbox .mk-selector-heading .mk-selector-arrow {
  display: block;
  float: right;
  width: 40px;
  height: 40px;
  background: url(../../images/selectbox-arrow.png) center center no-repeat;
}
.mk-fancy-selectbox .mk-select-options {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 40;
  display: none;
  background: #dddddd;
  border-top: 1px solid #aaaaaa;
}
.mk-fancy-selectbox .mk-select-options .mk-select-option {
  display: block;
  padding: 6px 7px 6px 17px;
  color: #555555;
  font-size: 12px;
  cursor: pointer;
  margin: 3px;
}
.mk-fancy-selectbox .mk-select-options .mk-select-option b {
  display: inline-block;
  font-weight: normal;
  line-height: 25px;
  vertical-align: top;
}
.mk-fancy-selectbox .mk-select-options .mk-select-option .mk-option-color {
  display: inline-block;
  width: 60px;
  height: 20px;
  margin-right: 10px;
}
.mk-fancy-selectbox .mk-select-options .mk-select-option:hover {
  background-color: #aaaaaa;
}
.mk-fancy-selectbox.color-based .mk-select-option {
  padding: 5px 7px 0px 10px;
}
.mk-fancy-selectbox.color-based .selected_item {
  line-height: 30px;
  vertical-align: top;
  height: 30px;
  margin: 3px 0 0 0;
}
/* Range Input */
.mk-ui-input-slider {
  margin: 10px 0 20px 0;
}
.mk-ui-input-slider .ui-slider-horizontal {
  position: relative;
  float: left;
  clear: right;
  width: 240px;
  height: 12px;
  top: 0;
  background-color: #bbbbbb;
  cursor: pointer;
  margin-left: 5px;
}
.mk-ui-input-slider .progress {
  display: none;
  height: 9px;
  background-color: #C5FF00;
  opacity: 0.6;
}
.mk-ui-input-slider .ui-slider-handle {
  position: absolute;
  top: -7px;
  z-index: 2;
  width: 19px;
  height: 19px;
  background-color: #fff !important;
  border: 3px solid #14a5ed !important;
  cursor: move;
  margin-left: -10px;
}
.mk-ui-input-slider .range-input-selector {
  float: left;
  margin: -10px 0 5px 25px !important;
  padding: 8px !important;
  width: 100px;
  border: 1px solid #bbbbbb !important;
  background-color: #fff;
  color: #555555;
  text-align: center;
}
.mk-ui-input-slider .unit {
  display: inline-block;
  margin-left: 6px;
  color: #a5a5a5;
  font-style: italic;
  font-size: 11px;
  line-height: 12px;
}
.ui-slider-horizontal,
.ui-slider-handle,
.range-input-selector {
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  border-radius: 30px !important;
  background-clip: padding-box !important;
  -moz-background-clip: padding !important;
  -webkit-background-clip: padding-box !important;
}
/* Checkbox & Radio Button */
.mk-select-radio input[type="checkbox"] {
  display: none;
}
.mk-select-radio input[type="checkbox"] + label {
  margin-right: 30px;
  font-size: 12px;
}
.mk-select-radio input[type="checkbox"] + label span {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 25px;
  height: 25px;
  background: url(../../images/mk-checkbox-radio.png) left top no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.mk-select-radio input[type="checkbox"]:checked + label span {
  background: url(../../images/mk-checkbox-radio.png) right top no-repeat;
}
.mk-select-radio input[type="radio"] {
  display: none;
}
.mk-select-radio input[type="radio"] + label {
  margin-right: 30px;
  font-size: 12px;
}
.mk-select-radio input[type="radio"] + label span {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 25px;
  height: 25px;
  background: url(../../images/mk-checkbox-radio.png) left bottom no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.mk-select-radio input[type="radio"]:checked + label span {
  background: url(../../images/mk-checkbox-radio.png) right bottom no-repeat;
}
/* Custom Sidebar */
.custom-sidebar-wrapper {
  margin-bottom: 40px;
}
.custom-sidebar-wrapper .button-primary {
  height: 34px !important;
  line-height: 32px !important;
  margin-left: 10px !important;
  padding-left: 15px;
  padding-right: 15px;
}
.selected-sidebar {
  display: inline-block;
  border: 1px solid #e1e1e1;
  border-bottom: none;
}
.default-sidebar-item {
  display: none;
}
.sidebar-item {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 12px 10px;
  width: 300px;
  border-bottom: 1px solid #e1e1e1;
}
.sidebar-item:hover {
  background-color: #f3f3f3;
}
.sidebar-item .delete-sidebar {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 16px;
  color: #ed1c24;
}
/* Visual Selector */
.mk-visual-selector {
  margin-top: 20px;
}
.mk-visual-selector a {
  position: relative;
  display: inline-block;
  line-height: 4px;
  margin: 0 20px 20px 0;
}
.mk-visual-selector a .selector-tick {
  position: absolute;
  top: -10px;
  right: -10px;
  display: block;
  width: 35px;
  height: 35px;
  background: url(../../images/mk-item-tick-selector.png) no-repeat;
}
/* Message Boxes */
.mk-message-box {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: none;
  z-index: 1000;
  padding: 5%;
  width: 400px;
  border: 1px solid #b7b7b7;
  background-color: #fff;
  text-align: center;
}
.mk-message-box .mk-message-text {
  display: block;
  padding-top: 20px;
}
/* Background Seclector */
.mk-general-bg-selector {
  position: relative;
  max-width: 820px;
  min-height: 700px;
  margin-bottom: 30px;
}
.mk-general-bg-selector .outer-wrapper {
  border: 3px solid #aaaaaa;
  padding: 0;
  position: relative;
}
.mk-general-bg-selector.full_width_layout .hover-state-body,
.mk-general-bg-selector.full_width_layout .body-section .mk-transparent-bg-indicator,
.mk-general-bg-selector.full_width_layout .body-section .mk-bg-preview-layer {
  display: none;
}
.mk-general-bg-selector.boxed_layout .body-section .mk-transparent-bg-indicator,
.mk-general-bg-selector.boxed_layout .body-section .mk-bg-preview-layer {
  display: block !important;
}
.mk-general-bg-selector.boxed_layout .body-section {
  left: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  z-index: 50;
  width: 100%;
}
.mk-general-bg-selector.boxed_layout .body-section .hover-state-body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #cbeeff;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  z-index: 10;
}
.mk-general-bg-selector.boxed_layout .body-section .hover-state-body .section-indicator {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #252525;
  font-weight: bold;
  display: inline-block;
  z-index: 60;
}
.mk-general-bg-selector.boxed_layout .body-section .hover-state-body:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
}
.mk-general-bg-selector .header-section {
  height: 120px;
  border-bottom: 3px solid #aaaaaa;
}
.mk-general-bg-selector .banner-section {
  height: 130px;
  border-bottom: 3px solid #aaaaaa;
}
.mk-general-bg-selector .page-section {
  height: 340px;
  border-bottom: 3px solid #aaaaaa;
}
.mk-general-bg-selector .footer-section {
  height: 111px;
}
.mk-general-bg-selector.boxed_layout .main-sections-wrapper {
  margin: 0 130px;
  background-color: #aaa;
  padding: 0 3px;
  position: relative;
  z-index: 55;
}
.mk-general-bg-selector .header-section,
.mk-general-bg-selector .page-section,
.mk-general-bg-selector .footer-section,
.mk-general-bg-selector .banner-section {
  cursor: pointer;
  position: relative;
}
.mk-general-bg-selector .header-section .hover-state,
.mk-general-bg-selector .page-section .hover-state,
.mk-general-bg-selector .footer-section .hover-state,
.mk-general-bg-selector .banner-section .hover-state {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #cbeeff;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
}
.mk-general-bg-selector .header-section .hover-state .section-indicator,
.mk-general-bg-selector .page-section .hover-state .section-indicator,
.mk-general-bg-selector .footer-section .hover-state .section-indicator,
.mk-general-bg-selector .banner-section .hover-state .section-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -45px;
  color: #252525;
  padding: 4px 20px;
  font-weight: bold;
  display: inline-block;
  z-index: 60;
}
.mk-general-bg-selector .header-section .hover-state:hover,
.mk-general-bg-selector .page-section .hover-state:hover,
.mk-general-bg-selector .footer-section .hover-state:hover,
.mk-general-bg-selector .banner-section .hover-state:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
}
.mk-transparent-bg-indicator,
.mk-bg-preview-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mk-bg-preview-layer {
  z-index: 2;
}
.mk-transparent-bg-indicator {
  background-image: url(../../images/transparent-bg.png);
  z-index: 1;
}
.mk-bg-edit-panel {
  z-index: 90;
  display: none;
  position: absolute;
  left: -1px;
  top: -1px;
  width: 100%;
  height: 100%;
  border: 2px solid #aaa;
  background: #fafafa;
}
.mk-bg-panel-heading {
  border-bottom: 1px solid #ccc;
}
.mk-bg-panel-heading .mk-bg-edit-panel-heading-cancel {
  display: block;
  float: right;
  margin: 13px 13px 0 0;
  font-size: 24px;
  color: #14a5ed;
}
.mk-bg-panel-heading .mk-bg-edit-panel-heading-text {
  color: #252525;
  line-height: 50px;
  font-size: 18px;
  margin: 10px 0 0 20px;
  text-transform: capitalize;
  font-weight: bold;
}
.mk-bg-edit-left {
  width: 42%;
  float: left;
}
.mk-bg-edit-right {
  width: 58%;
  border-left: 1px solid #ccc;
  margin-right: -1px;
  float: right;
  min-height: 570px;
}
.mk-bg-edit-bg-color {
  border-bottom: 1px solid #ccc;
}
.mk-bg-edit-option {
  display: block;
  padding: 10px 20px;
}
.bg-edit-panel-color {
  float: right;
}
.mk-bg-edit-label {
  display: block;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 5px;
}
.bg-image-buttons {
  float: right;
}
.bg-repeat-option,
.bg-attachment-option,
.bg-position-option {
  float: right;
  line-height: 4px;
  overflow: hidden;
}
.bg-repeat-option a,
.bg-attachment-option a,
.bg-position-option a {
  width: 31px;
  height: 31px;
  display: inline-block;
  margin: 2px;
  padding: 0;
  background-color: #dddddd;
  background-image: url(../../images/background-selector-graphics.png);
  background-repeat: no-repeat;
}
.bg-repeat-option a:hover,
.bg-attachment-option a:hover,
.bg-position-option a:hover {
  background-color: #cfcfcf;
}
.bg-repeat-option a.selected,
.bg-attachment-option a.selected,
.bg-position-option a.selected {
  background-color: #c3c3c3;
}
.bg-repeat-option a.repeat,
.bg-attachment-option a.repeat,
.bg-position-option a.repeat {
  background-position: -41px -3px;
}
.bg-repeat-option a.no-repeat,
.bg-attachment-option a.no-repeat,
.bg-position-option a.no-repeat {
  background-position: 0px -3px;
}
.bg-repeat-option a.repeat-y,
.bg-attachment-option a.repeat-y,
.bg-position-option a.repeat-y {
  background-position: -125px -3px;
}
.bg-repeat-option a.repeat-x,
.bg-attachment-option a.repeat-x,
.bg-position-option a.repeat-x {
  background-position: -84px -3px;
}
.bg-repeat-option a.fixed,
.bg-attachment-option a.fixed,
.bg-position-option a.fixed {
  background-position: -37px -46px;
}
.bg-repeat-option a.scroll,
.bg-attachment-option a.scroll,
.bg-position-option a.scroll {
  background-position: -78px -47px;
}
.bg-repeat-option a.left-top,
.bg-attachment-option a.left-top,
.bg-position-option a.left-top {
  background-position: -22px -93px;
}
.bg-repeat-option a.center-top,
.bg-attachment-option a.center-top,
.bg-position-option a.center-top {
  background-position: -64px -92px;
}
.bg-repeat-option a.right-top,
.bg-attachment-option a.right-top,
.bg-position-option a.right-top {
  background-position: -106px -92px;
}
.bg-repeat-option a.left-center,
.bg-attachment-option a.left-center,
.bg-position-option a.left-center {
  background-position: -22px -134px;
}
.bg-repeat-option a.center-center,
.bg-attachment-option a.center-center,
.bg-position-option a.center-center {
  background-position: -64px -134px;
}
.bg-repeat-option a.right-center,
.bg-attachment-option a.right-center,
.bg-position-option a.right-center {
  background-position: -106px -134px;
}
.bg-repeat-option a.left-bottom,
.bg-attachment-option a.left-bottom,
.bg-position-option a.left-bottom {
  background-position: -22px -177px;
}
.bg-repeat-option a.center-bottom,
.bg-attachment-option a.center-bottom,
.bg-position-option a.center-bottom {
  background-position: -64px -177px;
}
.bg-repeat-option a.right-bottom,
.bg-attachment-option a.right-bottom,
.bg-position-option a.right-bottom {
  background-position: -106px -177px;
}
.mk-bg-edit-option-repeat {
  padding-bottom: 25px !important;
}
.mk-bg-edit-option-repeat,
.mk-bg-edit-option-attachment {
  border-bottom: 1px solid #ccc;
}
.mk-bg-edit-option-stretch {
  border-top: 1px solid #ccc;
}
.mk-bg-edit-buttons {
  display: block;
  text-align: right;
  padding: 30px;
}
.bg-image-preset-wrapper {
  margin: 0px;
}
.bg-background-type-panes {
  min-height: 380px;
}
.bg-background-type-panes .bg-background-type-pane {
  display: none;
}
.bg-image-preset-thumbs {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 380px;
}
.bg-image-preset-thumbs.patterns-list {
  overflow: hidden;
}
.bg-image-preset-thumbs li {
  display: inline-block;
  margin: 0;
  border: 2px solid transparent;
  padding: 1px;
}
.bg-image-preset-thumbs li a {
  border: 1px solid #bcbcbc;
  display: block;
}
.bg-image-preset-thumbs li a:hover {
  border-color: #898989;
}
.bg-image-preset-thumbs li.selected {
  border-color: #009cff;
}
.bg-edit-panel-upload .mk-upload-bg-wrapper {
  position: relative;
}
.bg-edit-panel-upload .mk-upload-url {
  margin: 0 !important;
  width: 100% !important;
}
.bg-edit-panel-upload .bg-edit-panel-upload-title {
  margin: 30px 30px 10px 0px;
  display: block;
}
.bg-edit-panel-upload .option-upload-button {
  clear: both;
  margin: 10px 0 0 0 !important;
}
.bg-edit-panel-upload .custom-image-preview-block {
  overflow: hidden;
  max-width: 400px !important;
  height: 200px;
  margin: 0 auto !important;
  text-align: center;
}
.vc-mk-upload-url {
  width: 70% !important;
}
.bg-background-type-tabs {
  text-align: left;
  margin: 0;
  padding: 0;
}
.bg-background-type-tabs li {
  float: left;
  padding: 0;
  margin: 0 10px 10px 0;
}
.bg-background-type-tabs li a {
  margin: 0;
  padding: 0;
  background-color: #dddddd;
  color: #5b5b5b;
}
.bg-background-type-tabs li.current > a {
  background-color: #eee;
}
/* Specific Background Selector */
.mk-specific-bg-selector {
  border: 1px solid #cccccc;
  max-width: 860px;
  margin-bottom: 20px;
  background: #ebebeb;
}
.mk-specific-bg-selector .bg-image-preset-wrapper {
  margin: 0 0 0 5px;
}
.mk-specific-bg-selector .custom-image-preview-block {
  max-width: 250px !important;
  margin: 20px auto !important;
}
.mk-specific-bg-selector .bg-background-type-panes {
  min-height: 120px;
}
.mk-specific-bg-selector .bg-background-type-panes .bg-background-type-pane {
  display: none;
}
.mk-specific-bg-selector .specific-edit-panel-upload {
  margin: 20px !important;
}
.mk-specific-bg-selector .specific-edit-panel-upload .bg-edit-panel-upload-title {
  margin-bottom: 10px;
  display: block;
}
.mk-specific-bg-selector-left {
  width: 40%;
  margin-left: -1px;
  float: left;
}
.mk-specific-bg-selector-right {
  width: 60%;
  float: right;
  border-left: 1px solid #ccc;
  min-height: 500px;
}
.mk-specific-edit-bg-color,
.mk-specific-edit-option-repeat,
.mk-specific-edit-option-attachment {
  border-bottom: 1px solid #ccc;
}
.mk-specific-bg-selector .mk-upload-url {
  width: 100%;
}
.mk-font-icons-wrapper {
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px;
}
.mk-font-icons-wrapper a {
  margin: 0 2px 2px 0;
  text-decoration: none;
  display: block;
  float: left;
  background-color: #fff;
  height: 38px;
  width: 38px;
  text-align: center;
  border: 1px solid #ccc;
  position: relative;
  z-index: 1;
  overflow: hidden;
  outline: none;
}
.mk-font-icons-wrapper a span {
  position: absolute;
  left: -40px;
  top: -5px;
  visibility: hidden;
}
.mk-font-icons-wrapper a.mk-no-icon {
  text-indent: -1000px;
  font-size: 24px;
  line-height: 40px;
  background-color: #e4e4e4;
}
.mk-font-icons-wrapper a .selector-tick {
  display: none;
}
.mk-font-icons-wrapper a.current {
  border-color: #0083cb;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  z-index: 2;
  position: relative;
}
.mk-font-icons-wrapper a.current i {
  color: #0083cb;
  position: relative;
}
.mk-font-icons-wrapper a.current i:before {
  position: relative;
}
.mk-font-icons-wrapper a:hover {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  z-index: 2;
}
.mk-font-icons-wrapper i {
  font-size: 24px;
  line-height: 38px;
  color: #585858;
  position: relative;
}
.mk-font-icons-wrapper i:before {
  position: relative;
}
.page-composer-icon-filter {
  margin-bottom: 10px;
}
.mk-system-diagnose {
  margin-bottom: 20px;
}
.mk-system-diagnose ul li {
  display: block;
  padding: 6px 10px;
  background-color: rgba(0, 0, 0, 0.03);
  margin-bottom: 1px;
}
.mk-system-diagnose ul li strong {
  margin-right: 10px;
}
.mk-system-diagnose ul li .error {
  color: red;
}
.wp-picker-holder {
  position: absolute;
  z-index: 100;
}
.mk-general-bg-selector .vc_color-picker .wp-picker-holder {
  position: absolute !important;
  z-index: 100;
}
.wp-color-picker {
  padding: 1px 6px !important;
  margin-right: 5px !important;
  width: 150px;
}
.color-picker-holder .wp-picker-clear {
  padding: 2px 4px;
}
.color-picker-holder .wp-picker-holder .vc_alpha-container {
  border-radius: 0;
  border: 1px solid #dfdfdf;
  padding: 6px;
  background: #ffffff;
  position: absolute;
  width: 243px;
  left: -1px;
  z-index: 1000;
  bottom: -64px;
}
.color-picker-holder .wp-picker-holder .vc_alpha-container label {
  display: block;
}
.color-picker-holder .wp-picker-holder .vc_alpha-container label output {
  padding-top: 0px;
  display: inline;
  vertical-align: top;
}
.color-picker-holder .wp-picker-holder .vc_alpha-container input {
  padding: 0;
  margin: 0;
  width: 100%;
}
.mk-metabox-wrapper {
  margin: 20px !important;
}
.mk-metabox-wrapper [class*='mk-single-option']:last-of-type {
  border-bottom: none !important;
}
.mk-metabox-wrapper .form-table tr,
.masterkey-options-page .form-table tr {
  border-bottom: 1px solid #e7e7e7;
}
.mk-metabox-wrapper .form-table tr:last-child,
.masterkey-options-page .form-table tr:last-child {
  border-bottom: 0;
}
.mk-metabox-wrapper .form-table tr th,
.mk-metabox-wrapper .form-table tr td,
.masterkey-options-page .form-table tr th,
.masterkey-options-page .form-table tr td {
  color: #333333;
}
.mk-metabox-wrapper .form-table tr th,
.masterkey-options-page .form-table tr th {
  font-weight: normal;
  width: 35%;
  padding: 15px 10px 15px 0;
}
.mk-metabox-wrapper .form-table tr th label,
.masterkey-options-page .form-table tr th label {
  margin-bottom: 5px;
}
#mk-header-switcher {
  margin-top: 60px;
}
.header-style-unit {
  max-width: 800px;
  height: 117px;
  border: 7px solid #d4d4d4;
  background-color: #fff;
  margin-bottom: 10px;
  position: relative;
}
.mk-header-styles-number {
  position: absolute;
  top: -45px;
  right: -7px;
}
.mk-header-styles-number span {
  padding: 6px 10px;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  border: 2px solid #d4d4d4;
  color: #d4d4d4;
  float: right;
  margin-left: 10px;
  cursor: pointer;
}
.mk-header-styles-number span:hover {
  border-color: #bababa;
}
.mk-header-styles-number span.active {
  border-color: #7f7f7f;
  color: #7f7f7f;
}
.mk-header-style-tools {
  position: absolute;
  top: -50px;
  left: -7px;
  background-color: #d4d4d4;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  background-clip: padding-box;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  display: inline-block;
  padding: 8px 8px 8px 16px;
}
.mk-header-align {
  float: left;
  margin-right: 20px;
}
.mk-header-align .label {
  font-size: 13px;
  color: #5f5f5f;
  float: left;
  display: inline-block;
  line-height: 32px;
  padding-right: 10px;
}
.mk-header-align span {
  background-image: url(../../images/header-align.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  margin-right: 5px;
  cursor: pointer;
}
.mk-header-align span:hover {
  background-color: #ccc;
}
.mk-header-align span.active {
  background-color: #555555;
}
.header-align-left {
  background-position: -2px 0;
}
.header-align-left.active {
  background-position: -2px -48px;
}
.header-align-center {
  background-position: -59px 0;
}
.header-align-center.active {
  background-position: -59px -48px;
}
.header-align-right {
  background-position: -106px 0;
}
.header-align-right.active {
  background-position: -106px -48px;
}
.mk-header-toolbar-toggle {
  float: left;
}
.mk-header-toolbar-toggle .label {
  font-size: 13px;
  color: #5f5f5f;
  float: left;
  display: inline-block;
  line-height: 32px;
  padding-right: 10px;
}
.mk-header-toolbar-toggle span {
  background: url('../../images/header-toolbar-toggle.png') 0px -52px no-repeat;
  width: 89px;
  height: 33px;
  display: block;
  float: right;
  margin-left: 10px;
  cursor: pointer;
}
.mk-header-toolbar-toggle span.enabled {
  background-position: 0 0;
}
.mk-header-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  z-index: 10;
}
.mk-header-preview div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-image: url(../../images/header-sen-sprite.jpg);
}
@media handheld, only screen and (max-width: 1450px) {
  #mk-metaboxes-styling #mk-header-switcher {
    padding-top: 30px;
  }
  #mk-metaboxes-styling .mk-header-style-tools {
    width: 100%;
    display: block;
    right: 0;
    padding-left: 6px;
  }
  #mk-metaboxes-styling .mk-header-styles-number {
    top: -95px;
  }
  .mk-metabox-wrapper .mk-upload-url {
    width: 50%;
  }
}
.style-1-align-left .mk-header-preview div {
  background-position: 0 -465px;
}
.style-1-align-left.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-1-align-center .mk-header-preview div {
  background-position: 0 -775px;
}
.style-1-align-center.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-1-align-right .mk-header-preview div {
  background-position: 0 -620px;
}
.style-1-align-right.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-2-align-left .mk-header-preview div {
  background-position: 0 0;
}
.style-2-align-left.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-2-align-center .mk-header-preview div {
  background-position: 0 -155px;
}
.style-2-align-center.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-2-align-right .mk-header-preview div {
  background-position: 0 -310px;
}
.style-2-align-right.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-3-align-left .mk-header-preview div {
  background-position: 0 -1085px;
}
.style-3-align-left.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-3-align-center .mk-header-preview div {
  background-position: 0 -1085px;
}
.style-3-align-center.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-3-align-right .mk-header-preview div {
  background-position: 0 -1240px;
}
.style-3-align-right.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-4-align-left .mk-header-preview div {
  background-position: 0 -1705px;
}
.style-4-align-left.toolbar-false .mk-header-preview div {
  background-position: 0 -1729px;
}
.style-4-align-center .mk-header-preview div {
  background-position: 0 -1731px;
}
.style-4-align-center.toolbar-false .mk-header-preview div {
  background-position: 0 -1707px;
}
.style-4-align-right .mk-header-preview div {
  background-position: 0 -1884px;
}
.style-4-align-right.toolbar-false .mk-header-preview div {
  background-position: 0 -1908px;
}
/*Gallery Type*/
.attachment.details .check div {
  background-position: -60px 0;
}
.attachment.details .check:hover div {
  background-position: -60px 0;
}
.gallery_images .details.attachment {
  box-shadow: none;
}
.eig-metabox-sortable-placeholder {
  background: #dfdfdf;
}
.gallery_images .attachment.details {
  width: auto !important;
}
.gallery_images .attachment.details > div {
  width: 100px;
  height: 100px;
  box-shadow: none;
}
.gallery_images .attachment-preview .thumbnail {
  cursor: move;
}
.attachment.details div:hover .check {
  display: block;
}
.gallery_images:after,
#gallery_images_container:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.';
}
.gallery_images > li {
  float: left;
  margin: 0 10px 10px 0;
  cursor: move;
}
.gallery_images li.image img {
  width: 150px;
  height: auto;
}
.option-upload-button {
  line-height: 34px !important;
  height: 36px !important;
  margin-left: 10px !important;
}
/* ---------- Custom Post Type Preview Button Removal ----------  */
.post-type-edge .preview.button,
.post-type-faq .preview.button,
.post-type-pricing .preview.button,
.post-type-clients .post-type-testimonial .preview.button,
.post-type-slideshow .preview.button,
.post-type-icarousel .preview.button,
.post-type-banner_builder .preview.button,
.post-type-animated-columns .preview.button,
.post-type-tab_slider .preview.button {
  display: none;
}
.post-type-edge #preview-action:after,
.post-type-faq #preview-action:after,
.post-type-pricing #preview-action:after,
.post-type-clients .post-type-testimonial #preview-action:after,
.post-type-slideshow #preview-action:after,
.post-type-icarousel #preview-action:after,
.post-type-banner_builder #preview-action:after,
.post-type-animated-columns #preview-action:after,
.post-type-tab_slider #preview-action:after {
  content: "To preview this post type you need to create a page/post and add it inside Page Composer via appropriate shortcode.";
  font-style: italic;
  color: red;
  font-size: 12px;
  line-height: 18px;
  display: block;
  clear: both;
  text-align: left;
  padding: 10px;
}
.composer-switch a {
  padding: 4px 40px !important;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  background-clip: padding-box;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
}
.chosen-container {
  width: 100% !important;
}
.wpb-select.fade {
  opacity: 1 !important;
}
/* 
**
**
** Masterkey Header 
-------------------------------------------------------------*/
.main-left-section {
  width: 100px;
  float: left;
}
.mk-logo {
  display: block;
  margin: 15px 3px 5px 15px;
  width: 71px;
  height: 43px;
  background: url(../../images/mk-logo.png) no-repeat;
}
.mk-theme-version {
  color: #a4a4a4;
  font-size: 11px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
/* 
**
**
** Masterkey Header
-------------------------------------------------------------*/
.masterkey-options-page {
  margin: 20px 20px 0 0;
  color: #555555;
}
.mk-options-container {
  position: relative;
  background: url(../../images/mk-body-bg.png) left center repeat-y !important;
}
.mk-options-container a:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.mk-main-navigator li.ui-state-active,
.mk-sub-navigator li.ui-state-active,
.mk-main-navigator li.ui-widget-content .mk-main-navigator li.ui-state-active,
.mk-main-navigator li.ui-widget-content .mk-sub-navigator li.ui-state-active,
.mk-sub-navigator li.ui-widget-content .mk-main-navigator li.ui-state-active,
.mk-sub-navigator li.ui-widget-content .mk-sub-navigator li.ui-state-active,
.mk-main-navigator li.ui-widget-header .mk-main-navigator li.ui-state-active,
.mk-main-navigator li.ui-widget-header .mk-sub-navigator li.ui-state-active,
.mk-sub-navigator li.ui-widget-header .mk-main-navigator li.ui-state-active,
.mk-sub-navigator li.ui-widget-header .mk-sub-navigator li.ui-state-active,
.mk-main-navigator li.ui-state-hover,
.mk-sub-navigator li.ui-state-hover {
  border: none !important;
  background: none !important;
  font-weight: inherit !important;
  color: inherit !important;
}
/* 
**
**
** Main Navigator
-------------------------------------------------------------*/
.mk-main-navigator {
  width: 100px;
}
.mk-main-navigator li {
  margin: 0 0 5px 0;
  text-align: center;
}
.mk-main-navigator li a {
  display: block;
  color: #eee;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  padding: 15px 0;
}
.mk-main-navigator li a:hover {
  color: #fff;
  background-color: #313131;
}
.mk-main-navigator li a:hover i {
  color: #17bce8;
}
.mk-main-navigator li a i {
  display: block;
  margin-bottom: 10px !important;
}
.mk-main-navigator li a i:before {
  font-size: 32px !important;
  width: auto !important;
  height: auto !important;
}
.mk-main-navigator li.ui-tabs-active a {
  color: #fff;
  background-color: #313131;
}
.mk-main-navigator li.ui-tabs-active a i {
  color: #17bce8;
}
.mk-main-panes {
  min-height: 700px;
  display: block;
}
/* 
**
**
** Sub Navigator
-------------------------------------------------------------*/
.mk-sub-navigator {
  display: block;
  float: left;
  margin: 70px 0 0;
  padding: 0;
  width: 227px;
}
.mk-sub-navigator li {
  display: block;
  margin: 0;
}
.mk-sub-navigator li a {
  display: block;
  padding: 16px;
  background: url(../../images/sub-navigator-arrow.png) 190px center no-repeat;
  color: #bbbbbb !important;
  font-size: 13px;
  line-height: 14px;
}
.mk-sub-navigator li a:hover {
  background: url(../../images/sub-navigator-arrow-active.png) 190px center no-repeat;
  color: #14cdff  !important;
}
.mk-sub-navigator li.ui-state-active a {
  background: url(../../images/sub-navigator-arrow-active.png) 190px center no-repeat;
  color: #14cdff !important;
}
.mk-sub-panes {
  display: block;
  margin: 0 15px 15px 325px;
  padding-top: 25px;
}
#save_theme_options_top {
  position: absolute;
  top: 30px;
  right: 30px;
}
/* 
**
**
** General Options Layouts
-------------------------------------------------------------*/
.mk-single-option {
  padding: 0 15px 20px;
  margin: 0 0 20px 3px;
  border-bottom: 1px solid #eee;
}
.mk-single-option label,
.mk-single-option .option-title-sub {
  display: block;
  color: #444;
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 14px;
}
.mk-single-option .option-desc {
  display: block;
  margin-bottom: 15px;
  color: #777777;
  font-size: 13px;
  font-style: italic;
}
.mk-heading-option {
  margin-left: 2px;
  margin-bottom: 50px;
  border-bottom: 1px solid #717171;
}
.mk-heading-option .mk-page-heading {
  padding: 20px 20px 10px;
  font-size: 26px;
  line-height: 32px;
  display: block;
}
.mk-heading-option .option-desc {
  display: block;
  margin: 0 0 20px 20px;
  color: #777777;
  font-size: 11px;
}
.mk-footer-buttons {
  display: block;
  margin: 60px 30px 30px 130px;
  text-align: right;
  height: 70px;
}
.mk-button {
  font-size: 13px;
  display: inline-block;
  margin-left: 15px;
  padding: 15px 35px;
  text-decoration: none;
  cursor: pointer;
}
.mk-button span {
  display: inline-block;
  padding: 2px 0;
}
.mk-button.mk-secondary {
  padding: 13px 35px;
}
.mk-button.mk-ancilary {
  padding: 5px 20px;
}
.mk-button.dominant-color {
  border: none;
  background-color: #313131;
  color: #fff;
}
.mk-button.dominant-color:hover {
  background-color: #595959   ;
}
.mk-button.main-button {
  background-color: #14a5ed;
}
.mk-button.main-button:hover {
  background-color: #1394d4;
}
.mk-button.highlight-color {
  border: none;
  background-color: #aaaaaa;
  color: #fff;
}
.mk-button.highlight-color:hover {
  background-color: #848484;
}
.mk-button#mk_reset_confirm {
  border: 2px solid #666666;
  background-color: #313131;
  color: #aaaaaa;
}
.mk-button#mk_reset_confirm:hover {
  background-color: #272727;
}
#mk_reset_confirm {
  float: left;
  margin-left: 0px;
}
@font-face {
  font-family: 'masterkey-icons';
  src: url('../masterkey-icons/masterkey-icons.eot');
  src: url('../masterkey-icons/masterkey-icons.eot?#iefix') format('embedded-opentype'), url('../masterkey-icons/masterkey-icons.woff') format('woff'), url('../masterkey-icons/masterkey-icons.ttf') format('truetype'), url('../masterkey-icons/masterkey-icons.svg#masterkey-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-globe,
.icon-checkmark3,
.icon-close2,
.icon-menu10,
.icon-lock2,
.icon-arrow-up-right2,
.icon-arrow-up4,
.icon-arrow-up-left2,
.icon-arrow-right5,
.icon-arrow-left4,
.icon-arrow-down4,
.icon-arrow-down-right2,
.icon-arrow-down-left2,
.icon-menu10-2,
.icon-support,
.icon-lab,
.icon-blog,
.icon-briefcase3,
.icon-type,
.icon-globe-2,
.icon-droplet3 {
  font-family: 'masterkey-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-globe:before {
  content: "\25a0";
}
.icon-checkmark3:before {
  content: "\25a2";
}
.icon-close2:before {
  content: "\25a3";
}
.icon-menu10:before {
  content: "\25a4";
}
.icon-lock2:before {
  content: "\25a8";
}
.icon-arrow-up-right2:before {
  content: "\25ad";
}
.icon-arrow-up4:before {
  content: "\25ac";
}
.icon-arrow-up-left2:before {
  content: "\25b0";
}
.icon-arrow-right5:before {
  content: "\25c6";
}
.icon-arrow-left4:before {
  content: "\25db";
}
.icon-arrow-down4:before {
  content: "\25e0";
}
.icon-arrow-down-right2:before {
  content: "\25de";
}
.icon-arrow-down-left2:before {
  content: "\25e3";
}
.icon-menu10-2:before {
  content: "\25e5";
}
.icon-support:before {
  content: "\25e8";
}
.icon-lab:before {
  content: "\25e7";
}
.icon-blog:before {
  content: "\25eb";
}
.icon-briefcase3:before {
  content: "\25ef";
}
.icon-type:before {
  content: "\25f1";
}
.icon-globe-2:before {
  content: "\25f2";
}
.icon-droplet3:before {
  content: "\25f4";
}
/* Homepage Tabbed Box */
.header-social-wrapper {
  margin-bottom: 40px;
}
.header-social-wrapper .mk-fancy-selectbox {
  display: inline-block;
  margin-bottom: 0 !important;
}
.header-social-wrapper .header-social-option-row {
  display: table;
  margin-bottom: 15px;
}
.header-social-wrapper .header-social-option-row .header-social-option-label {
  width: 160px;
  display: table-cell;
  vertical-align: middle;
}
.header-social-wrapper .mk-select {
  width: 100%;
}
.header-social-wrapper .button-primary {
  margin-left: 405px !important;
}
.mk-current-social {
  display: inline-block;
  border-bottom: none;
}
.default-social-item {
  display: none;
}
.mk-social-item {
  position: relative;
  display: none;
  overflow: hidden;
  margin-bottom: 4px;
  width: 500px;
  border: 1px solid #e1e1e1;
}
.mk-social-item:hover {
  background-color: #f3f3f3;
}
.mk-social-item .social-item-icon {
  float: left;
  padding: 6px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #007fd5;
  border-right: 1px solid #e1e1e1;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.mk-social-item .social-item-icon i:before {
  color: #fff;
  font-size: 24px;
}
.mk-social-item .social-item-url {
  height: 24px;
  line-height: 28px;
  display: inline-block;
  padding: 3px 10px;
  float: left;
}
.mk-social-item .delete-social-item {
  position: absolute;
  top: 11px;
  right: 11px;
  font-size: 16px;
  color: #ed1c24;
}
.vc_mk_element-icon {
  background-image: url('../../images/vc-icons.png') !important;
}
.icon-mk-row {
  background-position: 0px 0px!important;
}
.icon-mk-page-section {
  background-position: -32px 0px !important;
}
.icon-mk-custom-box {
  background-position: -64px 0px !important;
}
.icon-mk-content-box {
  background-position: -96px 0px !important;
}
.icon-mk-image {
  background-position: -128px 0px !important;
}
.icon-mk-circle-image-frame {
  background-position: -160px 0px !important;
}
.icon-mk-moving-image {
  background-position: -192px 0px !important;
}
.icon-mk-image-gallery {
  background-position: -224px 0px !important;
}
.icon-mk-button {
  background-position: -256px 0px !important;
}
.icon-mk-mini-callout-box {
  background-position: -288px 0px !important;
}
.icon-mk-message-box {
  background-position: -320px 0px !important;
}
.icon-mk-icon-box {
  background-position: -352px 0px !important;
}
.icon-mk-divider {
  background-position: -384px 0px !important;
}
.icon-mk-table {
  background-position: -416px 0px !important;
}
.icon-mk-skill-meter {
  background-position: -448px 0px !important;
}
.icon-mk-diagram-progress-bar {
  background-position: -480px 0px !important;
}
.icon-mk-chart {
  background-position: -512px 0px !important;
}
.icon-mk-process-builder {
  background-position: -544px 0px !important;
}
.icon-mk-news-tab {
  background-position: -576px 0px !important;
}
.icon-mk-custom-sidebar {
  background-position: -608px 0px !important;
}
/* 2nd Row */
.icon-mk-padding-space {
  background-position: 0px -32px !important;
}
.icon-mk-event-countdown {
  background-position: -32px -32px !important;
}
.icon-mk-milestone {
  background-position: -64px -32px !important;
}
.icon-mk-audio-player {
  background-position: -96px -32px !important;
}
.icon-mk-woo-recent-carousel {
  background-position: -128px -32px !important;
}
.icon-mk-raw-html {
  background-position: -160px -32px !important;
}
.icon-mk-raw-js {
  background-position: -192px -32px !important;
}
.icon-mk-animated-columns {
  background-position: -224px -32px !important;
}
.icon-mk-tab-slider {
  background-position: -256px -32px !important;
}
.icon-mk-text-block {
  background-position: -288px -32px !important;
}
.icon-mk-fancy-title {
  background-position: -320px -32px !important;
}
.icon-mk-title-box {
  background-position: -352px -32px !important;
}
.icon-mk-blockquote {
  background-position: -384px -32px !important;
}
.icon-mk-dropcaps {
  background-position: -416px -32px !important;
}
.icon-mk-highlight-text {
  background-position: -448px -32px !important;
}
.icon-mk-tooltip {
  background-position: -480px -32px !important;
}
.icon-mk-custom-list {
  background-position: -512px -32px !important;
}
.icon-mk-font-icon {
  background-position: -544px -32px !important;
}
.icon-mk-toggle {
  background-position: -576px -32px !important;
}
.icon-mk-tabs {
  background-position: -608px -32px !important;
}
/* 3rd Row */
.icon-mk-accordion {
  background-position: 0px -64px !important;
}
.icon-mk-pricing-table {
  background-position: -32px -64px !important;
}
.icon-mk-employees {
  background-position: -64px -64px !important;
}
.icon-mk-clients {
  background-position: -96px -64px !important;
}
.icon-mk-blog {
  background-position: -128px -64px !important;
}
.icon-mk-post-carousel {
  background-position: -160px -64px !important;
}
.icon-mk-blog-portfolio-showcase {
  background-position: -192px -64px !important;
}
.icon-mk-portfolio {
  background-position: -224px -64px !important;
}
.icon-mk-portfolio-carousel {
  background-position: -256px -64px !important;
}
.icon-mk-news {
  background-position: -288px -64px !important;
}
.icon-mk-faq {
  background-position: -320px -64px !important;
}
.icon-mk-image-slideshow {
  background-position: -352px -64px !important;
}
.icon-mk-swipe-slideshow {
  background-position: -384px -64px !important;
}
.icon-mk-fullwidth-slideshow {
  background-position: -416px -64px !important;
}
.icon-mk-laptop-slideshow {
  background-position: -448px -64px !important;
}
.icon-mk-lcd-slideshow {
  background-position: -480px -64px !important;
}
.icon-mk-flex-slider {
  background-position: -512px -64px !important;
}
.icon-mk-edge-slider {
  background-position: -544px -64px !important;
}
.icon-mk-edge-one-pager {
  background-position: -576px -64px !important;
}
.icon-mk-testimonial-slideshow {
  background-position: -608px -64px !important;
}
/* 4th Row */
.icon-mk-social-networks {
  background-position: 0px -96px !important;
}
.icon-mk-skype-number {
  background-position: -32px -96px !important;
}
.icon-mk-twitter-feeds {
  background-position: -64px -96px !important;
}
.icon-mk-facebook-like {
  background-position: -96px -96px !important;
}
.icon-mk-tweetme-button {
  background-position: -128px -96px !important;
}
.icon-mk-google-button {
  background-position: -160px -96px !important;
}
.icon-mk-pinterest-button {
  background-position: -192px -96px !important;
}
.icon-mk-video-player {
  background-position: -224px -96px !important;
}
.icon-mk-google-maps {
  background-position: -256px -96px !important;
}
.icon-mk-advanced-google-maps {
  background-position: -288px -96px !important;
}
.icon-mk-flickr-feeds {
  background-position: -320px -96px !important;
}
.icon-mk-contact-form {
  background-position: -352px -96px !important;
}
.icon-mk-contact-info {
  background-position: -384px -96px !important;
}
.vc_navbar .vc_page_section_icon {
  background-position: -60px -210px !important;
}
.vc_row_section_mark {
  line-height: 16px;
  height: 16px;
  text-transform: uppercase;
  color: #878787;
  font-size: 11px;
}
